{% extends 'users/base.html' %} 

{% block content %}
<div class="d-flex flex-wrap">
  {% for post in posts%}
  <div class="row row-cols-3 ">
    <div class="col g-3">
      <div class="card m-2" style="width: 250px; height: 400px; font-size: 1rem;">
        <img src='../../../media/{{post.image}}' class="card-img-top" alt="blogpost" style="height: 100px"/>
        <hr>
        {% if user.is_authenticated %}
        <a href="{% url 'detail' post.id  %}" style="text-decoration: none; color:black">
        <div class="card-body overflow-hidden my-0 mx-auto p-0" style="height: 100px; text-align: center;">
          <h5 class="card-title">{{ post.title }}</h5>
          <p class="card-text">{{ post.content }}</p>
        </div>
      </a>
      {% else %}
      <div class="card-body overflow-hidden my-0 mx-auto p-0" style="height: 100px; text-align: center;">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text">{{ post.content }}</p>
      </div>
      {% endif %}
        <ul class="list-unstyled mx-auto d-flex">
          <li class="item m-2"><i class="fa-regular fa-message mr-1"></i>12</li>
          <li class="item m-2"><i class="fa-solid fa-eye mr-1"></i>545</li>
          <li class="item m-2"><i class="fa-regular fa-heart mr-1"></i>433</li>
        </ul>
        <div class="card-body my-0 mx-auto p-0">
          <p>Posted 7 months, 1 week ago</p>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}
